@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model ScorecardApplication.Models.Results

@using (Html.BeginForm())
{
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="col-md-12">
             
                    <div class="row">

                        @Html.LabelFor(m => m.ScorecardID)
                        @if (IsPost)
                        {
                            @Html.TextBoxFor(m => m.ScorecardName, new { @class = "form-control", @readonly = "true" })
                        }
                        else
                        {
                        @Html.DropDownListFor(m => m.ScorecardID, Model.ListOfTemplates, new { @class = "form-control" })
                        <input type="submit" name="submit" class="btn" value="Load" />
                        }
                        </div>
                </div>
            </div>
    </div>

    if (Model.ListOfResults != null)
    {
    <table>
        <thead>
            <tr>
                <td>
                    Date Scored
                </td>
                <td>
                    Agent Scored
                </td>
                <td>
                    Scored By
                </td>
                <td>
                    Result
                </td>
                <td>
                
                </td>
            </tr>
        </thead>
        <tbody>
        @foreach(KeyValuePair<int,ScorecardApplication.Models.ScorecardModel> item in Model.ListOfResults)
        {
            <tr>
                <td>
                    @item.Value.datescored.ToString("dd/MM/yyyy")
                </td>
                <td>
                    @item.Value.agentscored.fullname
                </td>
                <td>
                    @item.Value.scoredby.fullname
                </td>
                <td>
                    @item.Value.score.ToString()
                </td>
                <td>
                    <a href="/Score/ScoreCardResult?ResultID=@item.Key.ToString()">Load Scorecard</a>
                </td>


            </tr>


        }
</tbody>
    </table>

    }

}


